<nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
  {{#if @blog.logo}}
    <a class="blog-logo" href="{{@blog.url}}">
      <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
    </a>{{/if}}

  <form data-view="search" id="search-form" autocomplete="off">
    <img src="/assets/img/search.png" alt="Search the blog..." id="search-icon" />
    <span id="search-cta">
      Search the blog...
    </span>
    <input id="search-input" type="search" name="search">
    <ul id="search-results"></ul>
  </form>

  {{#if @blog.navigation}}
    <ul class="menu-links">
    {{#foreach navigation}}
      <li
        class="nav-{{slug}}{{#if current}} nav-current{{/if}} menu-link"
        role="presentation"
      >
        <a href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/foreach}}
  </ul>
  {{/if}}
</nav>
