{{!< default}}

{{#author}}
  <header
    class="masthead author-head {{#if cover}}"
    style="background-image: url({{cover}}){{else}}no-cover{{/if}}"
  >
    {{navigation}}
  </header>

  <section class="author-profile inner">
    {{#if image}}
    <figure class="author-image">
      <div class="img" style="background-image: url({{image}})">
        <span class="hidden">{{name}}'s Picture</span>
      </div>
    </figure>
    {{/if}}

    <h1 class="author-title">{{name}}</h1>
    {{#if bio}}
      <h2 class="author-bio">{{bio}}</h2>
    {{/if}}

    <div class="author-meta">
      {{#if location}}
        <span class="author-location icon-location">{{location}}</span>
      {{/if}}
      {{#if website}}
        <span class="author-link icon-link">
          <a href="{{website}}">{{website}}</a>
        </span>
      {{/if}}
    </div>
  </section>
{{/author}}

<main class="content" role="main">
  {{> "loop"}}
</main>
